.card.appointment-reminder {
  h5 {
    padding: 5px 0;
  }

  header {
    padding: 10px 0;
    border-bottom: 1px solid $light-gray-4;
    text-align: center;

    .image-container {
      width: 50px;
      height: 50px;
    }

    label {
      font-size: 25px;
    }
  }

  footer {
    font-size: 12px;

    &.float-bar {
      height: 30px;
    }

    .image-container {
      width: 12px;
      height: 12px;
      overflow: visible;
      border-radius: 0;
      margin-right: 5px;

      i {
        font-size: 14px;
        float: left;
      }
    }
  }

  .timer-media {
    label {
      margin-right: 3px;
    }
  }
}


/*

<div class='card appointment-reminder'>
  <div class='shadow'></div>
  <header>
    <div class='content hrz-txt-img-combo'>
      <label>
        Julie Wayne
      </label>
      <div class='image-container'>
        <img src='https://www.ephotozine.com/articles/three-ways-to-use-an-octa-for-your-portraits-11736/images/octa_soft_portrait.jpg'/>
      </div>
    </div>
  </header>
  <footer class='float-bar'>
    <div class='content'>
      <ul>
        <li class='left'>
          <div class='hrz-img-txt-combo centered-content'>
            <div class='image-container'>
              <i class="fa fa-lg fa-calendar" aria-hidden="true"></i>
            </div>
            <label>
              Mon March 5, 2017 - 3:45 pm
            </label>
          </div><div class='v-m-hack'></div>
        </li>
        <li class='right'>
          <div class='timer-media centered-content'>
            <label class='timer site-green-text'>3h 5m</label>
            <i class="fa fa-lg fa-video-camera" aria-hidden="true"></i>
          </div><div class='v-m-hack'></div>
        </li>
      </ul>
    </div>
  </footer>
</div><!--appointment-reminder -->

*/
