.card.greeting {
  text-align: center;
  background-color: transparent;

  .image-box,
  .text-box {
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
  }

  .image-box {
    width: 30%;

    img {
      display: inline-block;
      width: 60px;
      border-radius: 100%;
    }
  }

  .text-box {
    width: 65%;
    text-align: left;
    font-size: 25px;
  }
}
