

.horizontal-scroller {
  

  border-radius: 2px;
  position: relative;
  margin: 20px 0;
  width: 100%;
  box-shadow: 0 0 5px -1px;
  background-color: $blue;
    
        .button-box {
          position: absolute;
          z-index: 10;
          width: 60px;
          height: 100%;
          text-align: center;
          opacity: 0;
          transition: opacity 0.2s linear;

          .scroller-button {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            background-color: white;
            box-shadow: 0 0 5px -1px;
            opacity: 0.5;
            transition: box-shadow 0.15s linear, opacity 0.15s linear;
            
            .scroller-text {
              display: inline-block;
              vertical-align: middle;
              margin-left: 4px;
            }
            .scroller-text:hover {
                cursor: pointer;
            }
          }
          .scroller-button:hover {
            cursor: pointer;
            opacity: 1;
            box-shadow: 0 0 5px 0px $dark-orange-1;
            transition: box-shadow 0.15s linear, opacity 0.15s linear;
          }
          .scroller-button:active {
            box-shadow: 0 0 5px 0px $dark-blue-1;
            transition: box-shadow 0.15s linear, opacity 0.15s linear;
          }
        }
        .button-box.left {
          left: 0;
        }
        .button-box.right {
          right: 0;
        }

        .slider-box {


            padding: 10px 0;

            .slider {
                position: relative;

              width: 100%;
              margin: 0 auto;
              padding: 20px 0;
              overflow-y: hidden;
              /*
              box-shadow: inset 0 0 10px 0;
              */
              overflow-x: scroll;
              /*
              background-color: $blue;
              */

                
                  .inner-box {
                    white-space: nowrap;

                    .item-box {


                      display: inline-block;
                      
                      vertical-align: middle;

                          .item {
                             display: inline-block;
                            width: 200px;
                            height: 200px;
                            margin: 0 10px;
                            box-shadow: 0 0 5px 0px;
                            border-radius: 3px;
                            background-color: white;
                            transition: all 0.15s linear;
                          }
                          .item:hover {
                            -webkit-transform: scale(1.1, 1.1);
                            box-shadow: 0 0 15px -2px;
                            transition: all 0.15s linear;
                          }
                          .item:active {
                            -webkit-transform: scale(1.1, 1.1);
                            box-shadow: 0 0 15px -2px white;
                            transition: all 0.15s linear;
                          }
                    }
                  }

            }
        }

  
}
.horizontal-scroller:hover {
  
  .button-box {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}


.horizontal-scroller.three-d {
  
  background-color: $light-blue-1;

        .slider-box {

            .slider {
              width: 95%;
              margin: 0 auto;
              box-shadow: inset 0 0 10px 0;
              background-color: $blue;

            }
        }

  
}



/*

<div class='horizontal-scroller'>

  <div class='button-box left'>
    <div class='scroller-button'>
      <label class='scroller-text'>
        -
      </label>
      <div class='vertical-mid-hack'></div>
    </div>
    <div class='vertical-mid-hack'></div>
  </div>
  <div class='button-box right'>
    <div class='scroller-button'>
      <label class='scroller-text'>
        -
      </label>
      <div class='vertical-mid-hack'></div>
    </div>
    <div class='vertical-mid-hack'></div>
  </div>
  <div class='slider'>
    <div class='inner-box'>

      <div class='item-box'>

        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>


      </div>
      <div class='vertical-mid-hack'></div>

    </div>
  </div>

</div>

*/


