.hrz-img-txt-combo {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .image-container {
    margin-right: 10px;
  }
}

.hrz-txt-img-combo {
  @extend .hrz-img-txt-combo;

  .image-container {
    margin-right: 0;
  }

  .text {
    margin-right: 10px;
  }
}
