
.info-box.vertical.clickable {
  margin: 10px;
  width: 300px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  
  header {
    
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s linear;
    
    .content {
      background-color: #ddd;
      width: 260px;
      height: 110px;
      overflow: hidden;
      opacity: 0.8;
      transition: opacity 0.2s linear;
      
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  header:hover {
    cursor: pointer;
    border-color: #aaa;
    transition: border-color 0.2s linear;
  }
  header:hover .content {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  .title {
    
    padding: 15px 0;
    h4 {
      margin: 0;
      display: inline-block;
      font-size: 16px;
      color: $light-blue-1;
      transition: color 0.15s linear;
    }
    h4:hover {
      cursor: pointer;
      color: $dark-blue-2;
      transition: color 0.15s linear;
    }
  }
  article {
    padding-bottom: 5px;
    p {
      margin: 5px 0;
      font-size: 14px;
    }
    p:first-of-type {
      margin-top: 0;
    }
  }
}



/*

<div class='info-box vertical clickable'>
  <header>
    <div class='content'>
      <img src='http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg'/>
    </div>
  </header>
  <div class='title'>
    <h4 class='link'>
      Title
    </h4>
  </div>
  <article>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </article>
</div>

*/