.navbar {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;

    height: 40px;
    background-color: $blue;
    box-shadow: 0 0 10px 2px;

    ul {

        height: 100%;

        li {
            height: 100%;
            color: white;
            transition: background-color 0.15s linear;

            .item {
                display: inline-block;
                padding: 0 15px;
                color: white;
                text-decoration: none;
            }

            .item.text {
                vertical-align: middle;
            }
            .item.link {
                height: 100%;
                line-height: 40px;
                transition: background-color 0.15s linear;
            }
            .item.link:hover {
                background-color: $dark-blue-2;
                transition: background-color 0.15s linear;
            }
        }
        li.right {
            float: right;
        }
        li.left {
            float: left;
        }
        li:hover {
            background-color: $dark-blue-1;
            transition: background-color 0.15s linear;
        }

    }


}
/* 
    for filling space under position:fixed navbar
*/
.navbar-under-fill {
    height: 40px;
}




/*
example html

<nav class='navbar'>
    <ul>
        <li class='left/right'>
            <label class='item text'>
            </label>
            <div class='vertical-mid-hack'></div>

            *****OR*****

            <a href='#' class='item link'>
                text
            </a>
        </li>
    </ul>
</nav>
<div class='navbar-under-fill'></div>

*/