.card.notification {
  text-align: center;

  .title {
    padding: 10px 0;
  }

  .time,
  .media {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding: 10px 0;
  }

  .time {
    i {
      color: $text-color-light-2;
    }
  }
  .media {

  }
}
