.table-box {

    nav {
        height: 30px;
        margin-bottom: 3px;

        ul {

            height: 100%;


            li {
                height: 100%;
                margin: 0 5px;
                font-size: 12px;

                label {
                    display: inline-block;
                    vertical-align: middle;
                }
                label.low {
                    vertical-align: bottom;
                }
                label.high {
                    vertical-align: top;
                }

            }
            li.left {
                float: left;
            }
            li.right {
                float: right;
            }
        }
    }

    .table {
        position: relative;
        box-shadow: 0 0 5px -1px;
        border-radius: 2px;
        font-size: 14px;
        

        header {

            position: absolute;
            width: 100%;
            z-index: 10;
            background-color: $blue;
            color: white;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;

            .row {
                height: 50px;
                text-align: center;

                .cell {
                    width: 80px;
                    height: 100%;
                    padding: 0 10px;
                    float: left;
                    border-right: 1px dotted $dark-blue-table-border;

                    label {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .cell:last-of-type {
                    border: none;
                }
            }

        }
        .header-under-shadow {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 9;
            height: 50px;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
            box-shadow: 0 3px 5px -1px;
        }
        .header-under-fill {
            height: 52px;
        }

        article {

            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            max-height: 210px;
            overflow-y: scroll;
            background-color: white;

            .row {
                height: 30px;
                transition: background-color 0.15s linear;


                .cell {
                    width: 80px;
                    height: 100%;
                    float: left;
                    padding: 0 10px;
                    border-right: 1px solid #ccc;

                    label {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .cell:last-of-type {
                    border: none;
                }
                
            }
            .row:nth-child(even) {
                background-color: #eee;
            }
            .row:hover {
                background-color: $light-orange-table-row-hover;
                transition: background-color 0.15s linear;

                .cell {
                    border-color: $orange;
                }
            }

        }

    }
}






