.card.greeting {
  text-align: center; }
  .card.greeting .image-box,
  .card.greeting .text-box {
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle; }
  .card.greeting .image-box {
    width: 80px; }
    .card.greeting .image-box img {
      display: inline-block;
      width: 60px;
      border-radius: 100%; }
  .card.greeting .text-box {
    width: calc(100% - 90px);
    text-align: left;
    font-size: 25px; }

.card.notification {
  text-align: center; }
  .card.notification .title {
    padding: 10px 0; }
  .card.notification .time,
  .card.notification .media {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding: 10px 0; }
  .card.notification .time i {
    color: #797F85; }
