.gen-abs-content, .overlay, .home-page .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.overlay {
  z-index: 9999;
  opacity: .5; }

.section-title {
  color: white;
  position: relative;
  margin-bottom: -5px;
  display: flex;
  align-items: center; }
  .section-title .content {
    flex-shrink: 0;
    width: 95%;
    background-color: #A700D1; }
  .section-title h3 {
    padding: 7px 0;
    width: 95%;
    margin: 0 auto; }
  .section-title .horz-bar {
    flex-grow: 1;
    height: 1px;
    background-color: #A700D1; }

/*

<div class='section-title'>
  <div class='horz-bar'></div>
  <div class='content'>
    <h3>
      Your next appointment
    </h3>
  </div>
  <div class='horz-bar'></div>
</div>

*/
.image-container {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  overflow: hidden; }
  .image-container img {
    display: block;
    width: 100%;
    height: auto; }

.hrz-img-txt-combo > *, .hrz-txt-img-combo > * {
  display: inline-block;
  vertical-align: middle; }

.hrz-img-txt-combo .image-container, .hrz-txt-img-combo .image-container {
  margin-right: 10px; }

.hrz-txt-img-combo label {
  margin-right: 10px; }

.float-bar {
  width: 100%;
  height: 40px; }
  .float-bar ul {
    width: 100%;
    height: 100%; }
  .float-bar li {
    height: 100%; }
  .float-bar .left {
    float: left;
    margin-right: 5px; }
    .float-bar .left:last-of-type {
      margin-right: 0; }
  .float-bar .right {
    float: right;
    margin-left: 5px; }
    .float-bar .right:last-of-type {
      margin-left: 0; }
  .float-bar .centered-content {
    display: inline-block;
    vertical-align: middle; }

.card.greeting {
  text-align: center;
  padding: 10px 0; }
  .card.greeting label {
    font-size: 25px; }

/*

<div class='card greeting'>
  <div class='shadow'></div>
  <div class='content hrz-img-txt-combo'>
    <div class='image-container'>
      <img src='https://www.gallereplay.com/profiles/corwin/picture.jpg'/>
    </div>
    <label>
      Hi <span class='site-purple-text'>Steven</span>
    </label>
  </div>
</div>

*/
.card.appointment-reminder h5 {
  padding: 5px 0; }

.card.appointment-reminder header {
  padding: 10px 0;
  border-bottom: 1px solid #D9DCDE;
  text-align: center; }
  .card.appointment-reminder header .image-container {
    width: 50px;
    height: 50px; }
  .card.appointment-reminder header label {
    font-size: 25px; }

.card.appointment-reminder footer {
  font-size: 12px; }
  .card.appointment-reminder footer.float-bar {
    height: 30px; }
  .card.appointment-reminder footer .image-container {
    width: 12px;
    height: 12px;
    overflow: visible;
    border-radius: 0;
    margin-right: 5px; }
    .card.appointment-reminder footer .image-container i {
      font-size: 14px;
      float: left; }

.card.appointment-reminder .timer-media label {
  margin-right: 3px; }

/*

<div class='card appointment-reminder'>
  <div class='shadow'></div>
  <header>
    <div class='content hrz-txt-img-combo'>
      <label>
        Julie Wayne
      </label>
      <div class='image-container'>
        <img src='https://www.ephotozine.com/articles/three-ways-to-use-an-octa-for-your-portraits-11736/images/octa_soft_portrait.jpg'/>
      </div>
    </div>
  </header>
  <footer class='float-bar'>
    <div class='content'>
      <ul>
        <li class='left'>
          <div class='hrz-img-txt-combo centered-content'>
            <div class='image-container'>
              <i class="fa fa-lg fa-calendar" aria-hidden="true"></i>
            </div>
            <label>
              Mon March 5, 2017 - 3:45 pm
            </label>
          </div><div class='v-m-hack'></div>
        </li>
        <li class='right'>
          <div class='timer-media centered-content'>
            <label class='timer site-green-text'>3h 5m</label>
            <i class="fa fa-lg fa-video-camera" aria-hidden="true"></i>
          </div><div class='v-m-hack'></div>
        </li>
      </ul>
    </div>
  </footer>
</div><!--appointment-reminder -->

*/
.home-page {
  height: 100%;
  position: relative; }
  .home-page .background {
    z-index: -999;
    background-color: white; }
  .home-page header {
    height: 50%;
    position: relative; }
    .home-page header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -99;
      opacity: 0.6;
      background: linear-gradient(#384161, #434c6c); }
    .home-page header .background-img-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -100; }
    .home-page header .background {
      width: 100%;
      filter: blur(2px); }
    .home-page header .col {
      width: 50%;
      height: 100%;
      float: left;
      text-align: center; }
    .home-page header .col-content {
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid white; }
    .home-page header .user-name {
      color: white;
      font-size: 18px;
      margin-top: 10px; }
  .home-page .next-appointment {
    padding: 15px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    text-align: center; }
    .home-page .next-appointment .title {
      font-style: italic;
      text-align: left; }
    .home-page .next-appointment .therapist-name {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
    .home-page .next-appointment .img-box {
      width: 40px;
      height: 40px;
      vertical-align: middle; }
