.navbar {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #377eed;
  box-shadow: 0 0 10px 2px; }
  .navbar ul {
    height: 100%; }
    .navbar ul li {
      height: 100%;
      color: white;
      transition: background-color 0.15s linear; }
      .navbar ul li .item {
        display: inline-block;
        padding: 0 15px;
        color: white;
        text-decoration: none; }
      .navbar ul li .item.text {
        vertical-align: middle; }
      .navbar ul li .item.link {
        height: 100%;
        line-height: 40px;
        transition: background-color 0.15s linear; }
      .navbar ul li .item.link:hover {
        background-color: #1F60C4;
        transition: background-color 0.15s linear; }
    .navbar ul li.right {
      float: right; }
    .navbar ul li.left {
      float: left; }
    .navbar ul li:hover {
      background-color: #3077E6;
      transition: background-color 0.15s linear; }

/* 
    for filling space under position:fixed navbar
*/
.navbar-under-fill {
  height: 40px; }

/*
example html

<nav class='navbar'>
    <ul>
        <li class='left/right'>
            <label class='item text'>
            </label>
            <div class='vertical-mid-hack'></div>

            *****OR*****

            <a href='#' class='item link'>
                text
            </a>
        </li>
    </ul>
</nav>
<div class='navbar-under-fill'></div>

*/
.info-box.basic {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  box-shadow: 0 0 5px -1px;
  border-radius: 2px; }
  .info-box.basic header {
    background-color: #377eed;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 10px 0;
    color: white; }
    .info-box.basic header .content {
      width: 93%;
      height: 100%;
      margin: 0 auto; }
      .info-box.basic header .content h4 {
        font-size: 16px;
        font-weight: 100; }
  .info-box.basic article {
    padding: 10px 0;
    color: #3D3D3D;
    background-color: white; }
    .info-box.basic article .content {
      width: 93%;
      height: 100%;
      margin: 0 auto; }
      .info-box.basic article .content p {
        font-size: 14px;
        padding: 5px 0; }
      .info-box.basic article .content img {
        display: block;
        width: 100%;
        margin: 5px 0; }
  .info-box.basic footer {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 10px 0;
    color: #4F4F4F;
    background-color: white;
    border-top: 1px solid #FAD6C0; }
    .info-box.basic footer .content {
      width: 93%;
      height: 100%;
      margin: 0 auto; }
      .info-box.basic footer .content p {
        font-size: 12px;
        padding: 0; }

.info-box.basic.full-width {
  width: 100%;
  margin: 5px 0; }
  .info-box.basic.full-width .content {
    width: 97%; }

.info-box.basic.lg {
  width: 586px; }
  .info-box.basic.lg .content {
    width: 566px; }

.info-box.basic.md {
  width: 286px; }
  .info-box.basic.md .content {
    width: 266px; }

.info-box.basic.sm {
  width: 186px; }
  .info-box.basic.sm .content {
    width: 166px; }

.info-box.basic.xsm {
  width: 86px; }
  .info-box.basic.xsm .content {
    width: 66px; }

.info-box.basic.xxsm {
  width: 36px; }
  .info-box.basic.xxsm .content {
    width: 16px; }

@media (min-width: 450px) and (max-width: 650px) {
  .info-box.basic.md {
    width: 186px; }
    .info-box.basic.md .content {
      width: 166px; }
  .info-box.basic.lg {
    width: 95%; }
    .info-box.basic.lg .content {
      width: 93%; }
  .info-box.basic.full-width {
    width: 95%; }
    .info-box.basic.full-width .content {
      width: 95%; } }

@media (min-width: 0) and (max-width: 449px) {
  .info-box.basic.lg {
    width: 95%; }
    .info-box.basic.lg .content {
      width: 93%; }
  .info-box.basic.md {
    width: 95%; }
    .info-box.basic.md .content {
      width: 93%; }
  .info-box.basic.sm {
    width: 95%; }
    .info-box.basic.sm .content {
      width: 93%; }
  .info-box.basic.xsm {
    width: 95%; }
    .info-box.basic.xsm .content {
      width: 93%; }
  .info-box.basic.xxsm {
    width: 95%; }
    .info-box.basic.xxsm .content {
      width: 93%; }
  .info-box.basic.full-width {
    width: 95%;
    margin: 5px; }
    .info-box.basic.full-width .content {
      width: 93%; } }

/*
html:

<div class='info-box basic'>
    <header>
        <div class='content'>
            <h4>
    article
        content
            p

    footer
        content
            p





*/
.page-section {
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #ddd; }

.table-box nav {
  height: 30px;
  margin-bottom: 3px; }
  .table-box nav ul {
    height: 100%; }
    .table-box nav ul li {
      height: 100%;
      margin: 0 5px;
      font-size: 12px; }
      .table-box nav ul li label {
        display: inline-block;
        vertical-align: middle; }
      .table-box nav ul li label.low {
        vertical-align: bottom; }
      .table-box nav ul li label.high {
        vertical-align: top; }
    .table-box nav ul li.left {
      float: left; }
    .table-box nav ul li.right {
      float: right; }

.table-box .table {
  position: relative;
  box-shadow: 0 0 5px -1px;
  border-radius: 2px;
  font-size: 14px; }
  .table-box .table header {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #377eed;
    color: white;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    .table-box .table header .row {
      height: 50px;
      text-align: center; }
      .table-box .table header .row .cell {
        width: 80px;
        height: 100%;
        padding: 0 10px;
        float: left;
        border-right: 1px dotted #18335c; }
        .table-box .table header .row .cell label {
          display: inline-block;
          vertical-align: middle; }
      .table-box .table header .row .cell:last-of-type {
        border: none; }
  .table-box .table .header-under-shadow {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 50px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0 3px 5px -1px; }
  .table-box .table .header-under-fill {
    height: 52px; }
  .table-box .table article {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    max-height: 210px;
    overflow-y: scroll;
    background-color: white; }
    .table-box .table article .row {
      height: 30px;
      transition: background-color 0.15s linear; }
      .table-box .table article .row .cell {
        width: 80px;
        height: 100%;
        float: left;
        padding: 0 10px;
        border-right: 1px solid #ccc; }
        .table-box .table article .row .cell label {
          display: inline-block;
          vertical-align: middle; }
      .table-box .table article .row .cell:last-of-type {
        border: none; }
    .table-box .table article .row:nth-child(even) {
      background-color: #eee; }
    .table-box .table article .row:hover {
      background-color: #FFE7DB;
      transition: background-color 0.15s linear; }
      .table-box .table article .row:hover .cell {
        border-color: #F2A949; }

.input, .select {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  background-color: white;
  border: 1px solid #ccc;
  transition: box-shadow 0.15s linear, border-color 0.15s linear; }

@media (min-width: 0) and (max-width: 450px) {
  .input, .select {
    width: 85%; } }

.input:hover {
  background-color: white;
  border-color: #B3DCFF;
  box-shadow: 0 0 4px 0px #B3DCFF;
  transition: box-shadow 0.15s linear, border-color 0.15s linear; }

.input:focus {
  background-color: white;
  border-color: #4DAFFF;
  box-shadow: 0 0 4px 0px #4DAFFF;
  transition: box-shadow 0.15s linear, border-color 0.15s linear; }

.input.required {
  border-color: #FAC9AC; }

.input.required:hover {
  border-color: #FAC9AC;
  box-shadow: 0 0 4px 0px #FAC9AC; }

.input.required:focus {
  border-color: #F2A949;
  box-shadow: 0 0 4px 0px #F2A949; }

.input.invalid {
  border-color: #F78B99; }

.input.invalid:hover {
  border-color: #F78B99;
  box-shadow: 0 0 4px 0px #F78B99; }

.input.invalid:focus {
  border-color: #D13F52;
  box-shadow: 0 0 4px 0px #D13F52; }

.input.valid {
  border-color: #47C46C; }

.input.valid:hover {
  border-color: #47C46C;
  box-shadow: 0 0 4px 0px #47C46C; }

.input.valid:focus {
  border-color: #00A832;
  box-shadow: 0 0 4px 0px #00A832; }

.button {
  letter-spacing: 1px;
  outline: none;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #4F4F4F;
  border-radius: 2px;
  transition: background-color 0.2s linear, color 0.2s linear;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear; }

.button:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
  transition: background-color 0.2s linear, color 0.2s linear;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear; }

.button.blue {
  border: 1px solid #A6BEE3;
  color: #1F60C4; }

.button.blue:hover {
  background-color: #1F60C4;
  border-color: #1F60C4;
  color: white; }

.button.green {
  border: 1px solid #B1E6C0;
  color: #008729; }

.button.green:hover {
  background-color: #008729;
  border-color: #008729;
  color: white; }

.button.red {
  border: 1px solid #E3BABF;
  color: #A62133; }

.button.red:hover {
  background-color: #A62133;
  border-color: #A62133;
  color: white; }

.button.orange {
  border: 1px solid #FAD6C0;
  color: #D48620; }

.button.orange:hover {
  background-color: #D48620;
  border-color: #D48620;
  color: white; }

.link {
  text-decoration: none;
  color: #5798FF;
  transition: color 0.15s linear; }

.link:hover {
  color: #1F60C4;
  transition: color 0.15s linear; }

.link.red {
  color: #D13F52;
  transition: color 0.15s linear; }

.link.red:hover {
  color: #800F1E;
  transition: color 0.15s linear; }

.link.orange {
  color: #F2A949;
  transition: color 0.15s linear; }

.link.orange:hover {
  color: #AD680E;
  transition: color 0.15s linear; }

.link.green {
  color: #00A832;
  transition: color 0.15s linear; }

.link.green:hover {
  color: #00661F;
  transition: color 0.15s linear; }

.link:hover {
  cursor: pointer; }

.drop-down-box {
  font-size: 12px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  border-radius: 3px; }

.drop-down-box:hover .selector-box {
  background-color: #1F60C4;
  border-color: #1F60C4; }

.drop-down-box .selectors {
  height: 100%; }

.selected-box {
  border: 1px solid #ccc;
  border-right: none;
  background-color: white;
  line-height: 14px;
  float: left;
  height: 100%;
  min-width: 80px;
  overflow: hidden;
  padding: 0 15px 0 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: background-color 0.2s linear; }

.selected-box:hover {
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s linear; }

.selected-box .text {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  max-height: 55%;
  overflow: hidden; }

.selector-box {
  border: 1px solid #377eed;
  color: #eee;
  cursor: pointer;
  float: left;
  height: 100%;
  padding: 0 10px;
  background-color: #377eed;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: color 0.12s linear, background-color 0.15s linear, border-color 0.15s linear; }

.selector-box:active {
  color: white;
  background-color: #1F60C4;
  border-color: #1F60C4;
  transition: background-color 0.15s linear, border-color 0.15s linear, color 0.15s linear; }

.selector-box .text {
  display: inline-block;
  vertical-align: middle; }

.options-box {
  position: absolute;
  overflow: hidden;
  height: 0;
  z-index: 20;
  top: 100%;
  left: 0;
  width: 100%;
  transition: height 0.3s linear; }

.options-box .options-box-inner {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
  border: 1px solid #ccc;
  height: 97%;
  overflow-y: scroll; }

.options-box .options-box-inner .inner-box {
  overflow-y: scroll;
  height: 90%;
  margin-top: 5px; }

.options-box .option {
  color: #262626;
  padding: 8px 0; }

.options-box .option:hover {
  background-color: #eee;
  cursor: pointer; }

.vertical-mid-hack {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.content {
  width: 90%;
  margin: 0 auto; }

.drop-down-box.active .selector-box {
  border-color: #1F60C4;
  color: white;
  background-color: #1F60C4;
  transition: color 0.12s linear, background-color 0.15s linear, border-color 0.15s linear; }

.drop-down-box.active .options-box {
  height: 110px;
  transition: height 0.15s linear; }

.drop-down-box.active .selected-box {
  background-color: white;
  transition: background-color 0.15s linear; }

/*

<div class='drop-down-box'>
  <div class='selectors'>
    <div class='selected-box'>
      <div class='text'>
        Select
      </div><div class='vertical-mid-hack'></div>
    </div>
    <div class='selector-box'>
      <div class='text'>
        v
      </div><div class='vertical-mid-hack'></div>
    </div>
  </div>
  <div class='options-box'>
    <div class='options-box-inner'>
      <div class='inner-box'>
        
        <div class='option'>
          <div class='content'>
            Select
          </div>
        </div>
        <div class='option'>
          <div class='content'>
            option 1
          </div>
        </div>
        <div class='option'>
          <div class='content'>
            option 2
          </div>
        </div>
        <div class='option'>
          <div class='content'>
            option 3
          </div>
        </div>
        <div class='option'>
          <div class='content'>
            option 4
          </div>
        </div>
        <div class='option'>
          <div class='content'>
            option 5
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

*/
.bubble-with-message {
  display: inline-block;
  padding: 3px 10px; }
  .bubble-with-message .bubble {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    margin: 0 2px; }
  .bubble-with-message .bubble.green {
    background-color: #00A832; }
  .bubble-with-message .bubble.orange {
    background-color: #F2A949; }
  .bubble-with-message .bubble.red {
    background-color: #D13F52; }
  .bubble-with-message .bubble.blue {
    background-color: #377eed; }
  .bubble-with-message .bubble.sm {
    padding: 2px; }
  .bubble-with-message .bubble.md {
    padding: 4px; }
  .bubble-with-message .bubble.lg {
    padding: 8px; }
  .bubble-with-message label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    color: gray; }

/*

<div class='bubble-with-message'/>
    <div class='bubble md green'/>
    <label>message

*/
.tooltip-box {
  display: inline-block;
  position: relative;
  cursor: default; }

.tooltip-box .text {
  font-size: 18px; }

.tooltip-box .tooltip-foreground {
  display: none;
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: height 0.1s ease 0.2s; }

.tooltip-box .tooltip {
  display: none;
  top: 0;
  opacity: 0;
  position: absolute;
  left: 100%;
  width: 150px;
  margin-left: 8px;
  z-index: 20;
  transition: opacity 0.4s ease 0.5s; }

.tooltip-box .tooltip .text {
  max-width: 120px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #3D3D3D;
  color: white;
  border-radius: 2px;
  border: 1px solid #3D3D3D; }

.tooltip-box .tooltip.under .arrow {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #3D3D3D;
  border-left: 1px solid #3D3D3D;
  width: 6px;
  height: 6px;
  margin-right: -9px;
  background-color: #3D3D3D;
  -webkit-transform: rotate(45deg); }

.tooltip-box .text:hover ~ .tooltip {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease 0.5s; }

.tooltip-box .text:hover ~ .tooltip-foreground {
  display: block;
  height: 0;
  transition: height 0.1s ease; }

/*.tooltip-box .tooltip:hover {
  opacity: 1;
  transition: opacity 0.2s ease 0.5s;
}
.tooltip-box .tooltip:hover ~.tooltip-foreground {
  height: 0;
  transition: height 0.1s ease;
}*/
/*
  example html: {
    
    <div class='tooltip-box'>
      <div class='text'>
        bla
      </div>
      
      <div class='tooltip under'>
        <div class='arrow'>
        </div>
        <div class='text'>
          hello
        </div>
      </div>
      <div class='tooltip-foreground'>
      </div>
    </div>
  }
*/
.horizontal-scroller {
  border-radius: 2px;
  position: relative;
  margin: 20px 0;
  width: 100%;
  box-shadow: 0 0 5px -1px;
  background-color: #377eed; }
  .horizontal-scroller .button-box {
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s linear; }
    .horizontal-scroller .button-box .scroller-button {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background-color: white;
      box-shadow: 0 0 5px -1px;
      opacity: 0.5;
      transition: box-shadow 0.15s linear, opacity 0.15s linear; }
      .horizontal-scroller .button-box .scroller-button .scroller-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px; }
      .horizontal-scroller .button-box .scroller-button .scroller-text:hover {
        cursor: pointer; }
    .horizontal-scroller .button-box .scroller-button:hover {
      cursor: pointer;
      opacity: 1;
      box-shadow: 0 0 5px 0px #D48620;
      transition: box-shadow 0.15s linear, opacity 0.15s linear; }
    .horizontal-scroller .button-box .scroller-button:active {
      box-shadow: 0 0 5px 0px #3077E6;
      transition: box-shadow 0.15s linear, opacity 0.15s linear; }
  .horizontal-scroller .button-box.left {
    left: 0; }
  .horizontal-scroller .button-box.right {
    right: 0; }
  .horizontal-scroller .slider-box {
    padding: 10px 0; }
    .horizontal-scroller .slider-box .slider {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 20px 0;
      overflow-y: hidden;
      /*
              box-shadow: inset 0 0 10px 0;
              */
      overflow-x: scroll;
      /*
              background-color: $blue;
              */ }
      .horizontal-scroller .slider-box .slider .inner-box {
        white-space: nowrap; }
        .horizontal-scroller .slider-box .slider .inner-box .item-box {
          display: inline-block;
          vertical-align: middle; }
          .horizontal-scroller .slider-box .slider .inner-box .item-box .item {
            display: inline-block;
            width: 200px;
            height: 200px;
            margin: 0 10px;
            box-shadow: 0 0 5px 0px;
            border-radius: 3px;
            background-color: white;
            transition: all 0.15s linear; }
          .horizontal-scroller .slider-box .slider .inner-box .item-box .item:hover {
            -webkit-transform: scale(1.1, 1.1);
            box-shadow: 0 0 15px -2px;
            transition: all 0.15s linear; }
          .horizontal-scroller .slider-box .slider .inner-box .item-box .item:active {
            -webkit-transform: scale(1.1, 1.1);
            box-shadow: 0 0 15px -2px white;
            transition: all 0.15s linear; }

.horizontal-scroller:hover .button-box {
  opacity: 1;
  transition: opacity 0.2s linear; }

.horizontal-scroller.three-d {
  background-color: #5798FF; }
  .horizontal-scroller.three-d .slider-box .slider {
    width: 95%;
    margin: 0 auto;
    box-shadow: inset 0 0 10px 0;
    background-color: #377eed; }

/*

<div class='horizontal-scroller'>

  <div class='button-box left'>
    <div class='scroller-button'>
      <label class='scroller-text'>
        -
      </label>
      <div class='vertical-mid-hack'></div>
    </div>
    <div class='vertical-mid-hack'></div>
  </div>
  <div class='button-box right'>
    <div class='scroller-button'>
      <label class='scroller-text'>
        -
      </label>
      <div class='vertical-mid-hack'></div>
    </div>
    <div class='vertical-mid-hack'></div>
  </div>
  <div class='slider'>
    <div class='inner-box'>

      <div class='item-box'>

        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>
        <div class='item'>

        </div>


      </div>
      <div class='vertical-mid-hack'></div>

    </div>
  </div>

</div>

*/
.info-box.horizontal {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 5px -1px;
  width: 800px;
  padding: 30px 0;
  margin: 10px auto; }
  .info-box.horizontal .content {
    width: 99%;
    margin: 0 auto;
    text-align: center; }
    .info-box.horizontal .content .image-box {
      display: inline-block;
      vertical-align: top;
      width: 32%; }
      .info-box.horizontal .content .image-box .content {
        width: 90%;
        margin: 0 auto; }
        .info-box.horizontal .content .image-box .content img {
          width: 100%;
          height: auto; }
    .info-box.horizontal .content article {
      display: inline-block;
      vertical-align: top;
      width: 64%; }
      .info-box.horizontal .content article .content {
        width: 90%;
        margin: 0 auto; }
        .info-box.horizontal .content article .content header h4 {
          text-align: left;
          padding: 0 0 5px 0;
          margin: 0 0 5px 0;
          font-size: 16px;
          font-weight: 100;
          border-bottom: 1px solid #00A832; }
        .info-box.horizontal .content article .content p {
          text-align: left;
          font-size: 14px;
          padding: 5px 0; }

@media (min-width: 450px) and (max-width: 850px) {
  .info-box.horizontal {
    width: 95%; } }

@media (min-width: 0px) and (max-width: 449px) {
  .info-box.horizontal {
    width: 95%; }
    .info-box.horizontal .content {
      width: 95%; }
      .info-box.horizontal .content .image-box {
        width: 100%; }
        .info-box.horizontal .content .image-box .content {
          width: 95%; }
      .info-box.horizontal .content article {
        width: 100%; }
        .info-box.horizontal .content article .content {
          width: 95%; }
          .info-box.horizontal .content article .content header h4 {
            margin-top: 10px; } }

/*

<div class='info-box horizontal'>
    <div class='content'>

        <div class='image-box'>
            <div class='content'>
                <img src=''/>
            </div>
        </div>

        <article>
            <div class='content'>
                <p>
                </p>
            </div>
        </article>
    </div>
</div>

*/
.message-box {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px -2px;
  border: 1px solid #ccc;
  background-color: white;
  color: #4F4F4F; }
  .message-box h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 14px; }
  .message-box p {
    margin: 5px 0;
    font-size: 14px; }

.message-box.blue {
  background-color: #E8F1FF;
  border-color: #A6BEE3;
  color: #1F60C4; }

.message-box.orange {
  background-color: #FFF5F0;
  border-color: #E3C7B6;
  color: #AD680E; }

.message-box.red {
  background-color: #FFF2F4;
  border-color: #E3BABF;
  color: #800F1E; }

.message-box.green {
  background-color: #F2FFF6;
  border-color: #B1E6C0;
  color: #00661F; }

.message-box.gray {
  background-color: #4F4F4F;
  border-color: #3D3D3D;
  color: #eee; }

.menu-navigator {
  position: relative;
  background-color: white;
  margin: 10px 0;
  font-size: 14px;
  box-shadow: 0 0 5px -1px;
  border-radius: 2px; }
  .menu-navigator header {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    min-height: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    .menu-navigator header .shadow {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 1px;
      top: 100%;
      left: 0;
      box-shadow: 0 1px 5px 0; }
    .menu-navigator header .left-side, .menu-navigator header .right-side {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .menu-navigator header .left-side label, .menu-navigator header .right-side label {
        padding: 10px 0;
        text-align: center;
        flex-grow: 1; }
    .menu-navigator header .left-side {
      width: 200px;
      background-color: #3077E6;
      border-bottom: 1px solid #1F60C4; }
      .menu-navigator header .left-side label {
        color: white; }
    .menu-navigator header .right-side {
      flex-grow: 1;
      background-color: #eee;
      border-bottom: 1px solid #ccc;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .menu-navigator header .right-side label {
        border-right: 1px solid #ddd; }
      .menu-navigator header .right-side label:last-of-type {
        border-right: none; }
  .menu-navigator .body {
    display: flex;
    flex-direction: row;
    align-items: stretch; }
    .menu-navigator .body .left-side, .menu-navigator .body .right-side {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 300px; }
      .menu-navigator .body .left-side .menu-item, .menu-navigator .body .right-side .menu-item {
        min-height: 14px; }
        .menu-navigator .body .left-side .menu-item label, .menu-navigator .body .right-side .menu-item label {
          display: block;
          margin: 0 auto; }
    .menu-navigator .body .left-side {
      border-bottom-left-radius: 2px;
      width: 200px;
      background-color: #377eed;
      color: white; }
      .menu-navigator .body .left-side .menu-item {
        padding: 10px 0;
        transition: background-color 0.2s linear; }
        .menu-navigator .body .left-side .menu-item label {
          width: 85%; }
        .menu-navigator .body .left-side .menu-item label:hover {
          cursor: pointer; }
      .menu-navigator .body .left-side .menu-item:hover {
        cursor: pointer;
        background-color: #1F60C4;
        transition: background-color 0.2s linear; }
    .menu-navigator .body .right-side {
      border-bottom-right-radius: 2px;
      flex-grow: 1;
      background: white; }
      .menu-navigator .body .right-side .menu-item {
        border-bottom: 1px solid #eee;
        padding: 15px 0;
        transition: background-color 0.2s linear, border-color 0.2s linear; }
        .menu-navigator .body .right-side .menu-item label {
          width: 95%; }
        .menu-navigator .body .right-side .menu-item label:hover {
          cursor: default; }
        .menu-navigator .body .right-side .menu-item label:before {
          content: '>';
          font-size: 12px;
          color: #008729;
          padding-right: 5px; }
      .menu-navigator .body .right-side .menu-item:hover {
        cursor: default;
        border-color: #FFE7DB;
        background-color: #FFE7DB;
        transition: background-color 0.2s linear, border-color 0.2s linear; }
      .menu-navigator .body .right-side .menu-item:last-of-type {
        border: none; }

/*

<div class='menu-navigator'>
  <div class='left-side'>
      <div class='menu-item'>
        <label>
          one
        </label>
      </div>
      <div class='menu-item'>
        <label>
          two
        </label>
      </div>
      <div class='menu-item'>
        <label>
          three
        </label>
      </div>
  </div>

  <div class='right-side'>
      <div class='menu-item'>
        <label>
          one
        </label>
      </div>
      <div class='menu-item'>
        <label>
          two
        </label>
      </div>
      <div class='menu-item'>
        <label>
          three
        </label>
      </div>
  </div>
</div>

*/
.info-box.vertical.clickable {
  margin: 10px;
  width: 300px;
  margin: 20px;
  display: inline-block;
  vertical-align: top; }
  .info-box.vertical.clickable header {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s linear; }
    .info-box.vertical.clickable header .content {
      background-color: #ddd;
      width: 260px;
      height: 110px;
      overflow: hidden;
      opacity: 0.8;
      transition: opacity 0.2s linear; }
      .info-box.vertical.clickable header .content img {
        display: block;
        width: 100%;
        height: auto; }
  .info-box.vertical.clickable header:hover {
    cursor: pointer;
    border-color: #aaa;
    transition: border-color 0.2s linear; }
  .info-box.vertical.clickable header:hover .content {
    opacity: 1;
    transition: opacity 0.2s linear; }
  .info-box.vertical.clickable .title {
    padding: 15px 0; }
    .info-box.vertical.clickable .title h4 {
      margin: 0;
      display: inline-block;
      font-size: 16px;
      color: #5798FF;
      transition: color 0.15s linear; }
    .info-box.vertical.clickable .title h4:hover {
      cursor: pointer;
      color: #1F60C4;
      transition: color 0.15s linear; }
  .info-box.vertical.clickable article {
    padding-bottom: 5px; }
    .info-box.vertical.clickable article p {
      margin: 5px 0;
      font-size: 14px; }
    .info-box.vertical.clickable article p:first-of-type {
      margin-top: 0; }

/*

<div class='info-box vertical clickable'>
  <header>
    <div class='content'>
      <img src='http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg'/>
    </div>
  </header>
  <div class='title'>
    <h4 class='link'>
      Title
    </h4>
  </div>
  <article>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </article>
</div>

*/
